<div *ngIf="isCompletedAlert" class="completed-overlay">
  <div class="center-content">
    <div>
      <h1 class="text-white text-center text-uppercase">Completed <span *ngIf="atBest !== moveCount">!</span><span
          *ngIf="atBest == moveCount">At Best</span></h1>
    </div>
    <div class="text-white">
      Best Move Count = {{atBest}}
    </div>
    <div class="text-white">
      Your Move Count = {{moveCount}}
    </div>
    <div>
      <button class="btn btn-primary d-block mx-auto" (click)="restart()">Restart</button>
    </div>
  </div>
</div>
<div class="container p-2 position-relative">
  <div class="row justify-content-center">
    <div class="col-md-2 d-flex justify-content-end">
      <button class="btn btn-primary" [disabled]="createBlockCount <= 3" (click)="subCreateBlock()">-</button>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control block-creation-input" placeholder="Enter the number of blocks" [(ngModel)]="createBlockCount">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" [disabled]="createBlockCount >= 7" (click)="addCreateBlock()">+</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-danger" *ngIf="minBlockCountError">
      <b>Note:</b>&nbsp;Minimum Block Count is 3
    </div>
    <div class="col-md-6 text-danger" *ngIf="maxBlockCountError">
      <b>Note:</b>&nbsp;Maximum Block Count is 7
    </div>
    <div *ngIf="!minBlockCountError && !maxBlockCountError">
      Move Count : {{moveCount}}
    </div>
  </div>
</div>
<div class="customized-height-container">
  <div class="container h-100">
    <div class="row p-2 h-100 justify-content-center">

      <div class="col-md-3 mx-2 p-0 position-relative" (click)="firstContainerClick()">
        <div class="stick"></div>
        <div class="temp-block-placement" *ngIf="tempContainerArr && isFirstTempArr">
          <div class="block-item d-block mx-auto" *ngFor="let tempBlock of tempContainerArr;let i = index"
            [style.width]="tempBlock.blockWidth+'%'" [style.background-color]="tempBlock.blockColor">
            {{tempBlock.blockValue}}
          </div>
        </div>
        <div class="block-placement">
          <div class="block-item d-block mx-auto" *ngFor="let firstBlock of firstContainerArr;let i = index"
            [style.width]="firstBlock.blockWidth+'%'" [style.background-color]="firstBlock.blockColor">
            {{firstBlock.blockValue}}
          </div>
        </div>
        <div class="stick-holder"></div>
      </div>

      <div class="col-md-3 mx-2  p-0 position-relative" (click)="secondContainerClick()">
        <div class="stick"></div>
        <div class="temp-block-placement" *ngIf="tempContainerArr && isSecondTempArr">
          <div class="block-item d-block mx-auto" *ngFor="let tempBlock of tempContainerArr;let i = index"
            [style.width]="tempBlock.blockWidth+'%'" [style.background-color]="tempBlock.blockColor">
            {{tempBlock.blockValue}}
          </div>
        </div>
        <div class="block-placement">
          <div class="block-item d-block mx-auto" *ngFor="let secondBlock of secondContainerArr;let i = index"
            [style.width]="secondBlock.blockWidth+'%'" [style.background-color]="secondBlock.blockColor">
            {{secondBlock.blockValue}}</div>
        </div>
        <div class="stick-holder"></div>
      </div>

      <div class="col-md-3 mx-2  p-0 position-relative" (click)="thirdContainerClick()">
        <div class="stick"></div>
        <div class="temp-block-placement" *ngIf="tempContainerArr && isThirdTempArr">
          <div class="block-item d-block mx-auto" *ngFor="let tempBlock of tempContainerArr;let i = index"
            [style.width]="tempBlock.blockWidth+'%'" [style.background-color]="tempBlock.blockColor">
            {{tempBlock.blockValue}}
          </div>
        </div>
        <div class="block-placement">
          <div class="block-item d-block mx-auto" *ngFor="let thirdBlock of thirdContainerArr;let i = index"
            [style.width]="thirdBlock.blockWidth+'%'" [style.background-color]="thirdBlock.blockColor">
            {{thirdBlock.blockValue}}
          </div>
        </div>
        <div class="stick-holder"></div>
      </div>

    </div>
  </div>
</div>
